@import '../App.css';
form {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid $black;
  input[type='text'] {
    display: flex;
    justify-content: center;
    background: $orange;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-shadow: 0 0.1rem 0.2rem $gray;
    border: 2px solid $black;
    outline: none;
    padding: 1rem;
    width: 35vw;
    height: 3.5rem;
    border-radius: 5px;
  }
  input[type='text']:hover {
    cursor: pointer;
  }
}
.button {
  padding: 1rem;
  margin: 1rem 0.1rem;
  color: $green;
  background: $black;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}
