
$green: #0bacb2;
$green2: hsla(182, 88%, 37%, 0.834);
$black: rgb(5, 4, 4);
$black2: hsla(0, 9%, 2%, 0.829);
$orange: #19812f;
$gray: #686666;
$lightGray: #d6d3d3;
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background: $lightGray;
    color: $black;
  font-family: 'Raleway', sans-serif;
}